body {
  font-family: Georgia;
  color: white;
}

@keyframes fadein {
  from { opacity: 0;}
  to   { opacity: 1;}
}


.header {
  margin-top: 60px;
  margin-bottom: 10px;
  color: grayscale($color: #6a6a6b);
  font-weight: normal;
  font-size: xx-large;
  font-family: 'Century Gothic';
}

.label {
  color: rgb(105, 105, 105);
  font-weight: normal;
  font-size: medium;
  font-family: 'Century Gothic';
}

.selected-date {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Century Gothic';
}

.calendar {
  background: linear-gradient(to bottom right, rgb(69, 149, 200), rgb(109, 86, 200));
  padding: 5px;
  border-style: 1px solid;
  align-items: center;
  height: 380px;
  width: 420px;
  animation: fadein;
  animation-duration: 0.7s;
}

.interval {
  background: linear-gradient(to right, #ad32ff, #49bbd8);
  border: 1px solid rgb(189, 189, 189);
  border-radius: 25px;
  padding-bottom: 10px;
  padding-top: 12px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin-left: 15px;
  padding: 10px 0;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-family: 'Century Gothic';
  font-weight: bold;
  font-size: 20px;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  margin-left: 15px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'Century Gothic';
}

/* Highlight the "current" day */
.days li .active {
  padding:10px;
  padding-left: 12px;
  padding-right: 12px;
  background: #49bbd8;
  border-radius: 30px;
  color: white !important;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Century Gothic';
}

#current-month-days {
  color: #fff !important;
}

#previous-month-days {
  color: rgba(255, 255, 255, 0.4) !important;
}

.buttons-container {
  background: linear-gradient(to bottom right, rgb(78, 100, 199), rgb(111, 72, 201));
  display: grid;
  align-items: center;
  align-self: center;
  grid-template-columns: auto auto;
  height: 50px;
  padding: 20px;
  column-gap: 5%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation: fadein;
  animation-duration: 0.7s;
}

.confirmbtn {
  align-items: center;
  background-color: #ee6cf0;
  border: none;
  color: white;
  border-radius: 50px;
  align-self: stretch;
  width: 150px;
  justify-self: left;
  font-family: 'Century Gothic';
  font-size: 20px;
}

.cancelbtn {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  align-self: stretch;
  border: none;
  width: 150px;
  justify-self: right;
  font-family: 'Century Gothic';
  font-size: 20px;
}

#current_month {
  color: #fff !important;
}

#other {
  color: #fff !important;
  opacity: 60%;
}

.grid-container {
  display: grid;
  margin: auto;
  align-items: center;
}

.grid-item {
  text-align: center;
  color: #fff;
}

.table-header {
  display: grid;
  animation: fadein;
  animation-duration: 0.7s;
  grid-template-columns: auto auto auto;
  background: linear-gradient(to bottom right, rgb(109, 80, 190), rgb(69, 149, 200));
  text-align: center;
  margin-top: 0.1em;
  padding: 10px;
  position: relative;
  font-family: 'Century Gothic';
  font-size: 20px;
  box-shadow: 0px 3px 3px 0 rgba(70, 70, 80, 0.2);
}

.table-header::after {
  content: "";
  position: absolute;
  margin-left : 195px;
  margin-top: -1em;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid rgb(98, 95, 195);
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.3);
}

.vertical-line {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 14px;
}
